
//颜色定义规范

$color-background-cover:rgba(0,0,0,.6);

$color-theme:#01C6FD;



//字体定义规范
$phone-size1:300px;
$phone-size2:400px;
$phone-size3:500px;

$phone-dpr2-size1:500px;
$phone-dpr2-size2:600px;
$phone-dpr2-size3:700px;
$phone-dpr2-size4:800px;
$phone-dpr2-size5:900px;


$font-size0:11px;
$font-size1:13px;
$font-size2:15px;
$font-size3:17px;
$font-size4:19px;
